<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}

<form action="/createhod" method="POST">
    <div class="login">
    <div class="login-screen">
    <div class="app-title">
    <h1>Make HOD</h1>
    </div>
    <div class="login-form">

    <div class="control-group">
            <input type="text" class="login-field" value="" placeholder="HOD emailid" name="hodemailid">
    <label class="login-field-icon fui-user" for="login-name"></label></div>
    
    <div class="control-group">
                    <input type="text" class="login-field" value="" placeholder="Faculty emailid" name="facemailid">
    <label class="login-field-icon fui-user" for="login-name"></label></div>

    <div class="control-group">
        <input type="text" class="login-field" value="" placeholder="End date: yyyy-mm-dd" name="end_date">
    <label class="login-field-icon fui-lock" for="login-pass"></label></div>

    <div class="control-group">
                    <input type="password" class="login-field" value="" placeholder="password" name="password">
    <label class="login-field-icon fui-lock" for="login-pass"></label></div>

    <button type="submit" class="btn btn-primary btn-large btn-block">Create</button>
    
    </div>
    </div>
    </div>
    
</form>

{% endblock %}