<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}

<form action="/login" method="POST">
    <div class="login">
    <div class="login-screen">
    <div class="app-title">
    <h1>Faculty Portal</h1>
    {% for row in users %}
        <div class="view-details">
            {{row['name']}}
            <button type="submit" formaction="/viewfaculty/{{row['emp_id']}}">View</button>
            <br/><br/>
        </div>
    {% endfor %}
    </div>
        <button type="submit" class="btn btn-primary btn-large btn-block">Sign in</button>
    </div>
    </div>
    </div>
</form>

{% endblock %}

